
.container{
    background: rgba(193, 214, 201, 0.938);
    color: blueviolet;
    border: 1px solid gray;
    padding: 10px;
}
.crystal{
    display: inline-flex;
    justify-content: space-around;    
    border: 1px solid #8a4419;
    border-radius: 4px;
    padding: 30px; 
    margin: 10px;
    width: 200px;
    height: 200px;
}
#boxshadow crystal{
    width: 100%;
    border: 1px soli#8a4419;
   
}
h1{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 2px rgba(255, 0, 0, 0.5);
    color:#0077ff;
    border: 2px;
    padding: 5px;
    background:#ca1b1b63;
}
.card-body{
    background: rgba(0, 128, 0, 0.363);
    color:rgb(134, 90, 7);
    border: 1px solid black;
    padding: 5px;
}














